* {
  box-sizing: border-box;
}
.App {
  display: flex;
  margin: 10px;
  text-align: center;
}
.App__wrapper{
  border: 2px solid #12dbc7;
  border-radius: 5px;
  width: 15vw;
  height: 20vh;
  margin: 0 auto;
  padding: 5px;
}
.App__screen {
  margin: 0 auto;
  display: block;
  width: 100%;
  height: 50%;
  background-color: #12dbc7;
  border-radius: 5px;
  position: relative;
}
.App__screen span{
  margin: 0 auto;
  position: absolute;
  top: 25%;
  transform: translateX(-50%);
  font-size: 20px;
  width: 100%;
}
.App__screen.limited {
  margin: 0 auto;
  display: block;
  width: 100%;
  height: 50%;
  background-color: #12dbc7;
  border-radius: 5px;
  position: relative;
}
.App__screen.limited span{
  color: red;
  margin: 0 auto;
  position: absolute;
  top: 25%;
  transform: translateX(-50%);
  font-size: 20px;
  width: 100%;
}

.App__buttons{
  display: flex;
  justify-content: space-around;
  margin: 10px auto;
  border: 1px solid #12dbc7;
  width: 100%;
  padding: 7px;
  border-radius: 5px;
}
.App__buttons_but{

}
.App__buttons_but button{
  width: 5vw;
  height: 5vh;
  border: none;
  border-radius: 5px;
  background-color: #12dbc7;
  outline: none;
}
